<div class="wrapper fadeInDown">
    <div id="formContent">
      <body>
          <form>
          <input type="username" [(ngModel)]="userInfo.username" name= "username" placeholder="Username"><br>
          <input type="username" [(ngModel)]="userInfo.email" name= "email" placeholder="Email"><br>
          <input type="username" [(ngModel)]="userInfo.role" name= "role" placeholder="Role"><br>
          <button (click)="buttonClicked()">Add User</button>
          </form>
          <p></p>
      </body>
    </div>
  </div>